Pods/Pods.xcodeproj/xcuserdata/gerasim1003.xcuserdatad/xcschemes/xcschememanagement.plist
TravelApp.xcodeproj/xcuserdata/gerasim1003.xcuserdatad/xcschemes/xcschememanagement.plist
TravelApp.xcworkspace/xcuserdata/gerasim1003.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
