Pods/Pods.xcodeproj/xcuserdata/gerasim1003.xcuserdatad/xcschemes/xcschememanagement.plist
TravelApp.xcodeproj/xcuserdata/gerasim1003.xcuserdatad/xcschemes/xcschememanagement.plist
TravelApp.xcworkspace/xcuserdata/gerasim1003.xcuserdatad/UserInterfaceState.xcuserstate

TravelApp.xcworkspace/xcuserdata/erichovhannisyan.xcuserdatad/UserInterfaceState.xcuserstate
TravelApp.xcworkspace/xcuserdata/erichovhannisyan.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
.DS_Store
